# Assignment

In [8]:
import json
import sqlite3

conn = sqlite3.connect('rosterdb.sqlite')
cur = conn.cursor()

# Do some setup
cur.executescript('''
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name   TEXT UNIQUE
);

CREATE TABLE Course (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title  TEXT UNIQUE
);

CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
    role        INTEGER,
    PRIMARY KEY (user_id, course_id)
)
''')

fname = input('Enter file name: ')
if len(fname) < 1:
    fname = 'roster_data_sample.json'

# [
#   [ "Charley", "si110", 1 ],
#   [ "Mea", "si110", 0 ],

str_data = open(fname).read()
json_data = json.loads(str_data)

for entry in json_data:

    name = entry[0]
    title = entry[1]
    role = entry[2]

    print((name, title,role))

    cur.execute('''INSERT OR IGNORE INTO User (name)
        VALUES ( ? )''', ( name, ) )
    cur.execute('SELECT id FROM User WHERE name = ? ', (name, ))
    user_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Course (title)
        VALUES ( ? )''', ( title, ) )
    cur.execute('SELECT id FROM Course WHERE title = ? ', (title, ))
    course_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Member
        (user_id, course_id,role) VALUES ( ?, ? ,?)''',
        ( user_id, course_id ,role ) )

    conn.commit()

Enter file name: roster_data.json
('Rhudi', 'si110', 1)
('Kaydyne', 'si110', 0)
('Rheanne', 'si110', 0)
('Rian', 'si110', 0)
('Jakob', 'si110', 0)
('Ayeesha', 'si110', 0)
('Mariette', 'si110', 0)
('Jonatan', 'si110', 0)
('Oryn', 'si110', 0)
('Dharam', 'si110', 0)
('Evie', 'si110', 0)
('Torrin', 'si110', 0)
('Ilyaas', 'si110', 0)
('Keo', 'si110', 0)
('Connar', 'si110', 0)
('Tamara', 'si110', 0)
('Tabbitha', 'si110', 0)
('Ayiah', 'si110', 0)
('Cailin', 'si110', 0)
('Zakiyya', 'si110', 0)
('Sonni', 'si110', 0)
('Jiao', 'si110', 0)
('Rayan', 'si110', 0)
('Aishah', 'si110', 0)
('Rhiah', 'si110', 0)
('Oluwatosin', 'si110', 0)
('Areeba', 'si110', 0)
('Eris', 'si110', 0)
('Cade', 'si106', 1)
('Khadijah', 'si106', 0)
('Ivana', 'si106', 0)
('Eireyn', 'si106', 0)
('Leonardas', 'si106', 0)
('Jamaal', 'si106', 0)
('Madison', 'si106', 0)
('Taylor', 'si106', 0)
('Kaedyn', 'si106', 0)
('Anthony', 'si106', 0)
('Amieleigh', 'si106', 0)
('Ala', 'si106', 0)
('Kiana', 'si106', 0)
('Simra', 'si106', 0)
('Owen', 'si106', 0)
('Derryn', 'si106', 0)
('Kaydane', 'si106', 0)
('Kale', 'si106', 0)
('Ruaidhri', 'si106', 0)
('Klara', 'si106', 0)
('Zhong', 'si206', 1)
('Kyleena', 'si206', 0)
('Lilley', 'si206', 0)
('Jock', 'si206', 0)
('Maisum', 'si206', 0)
('Nodoka', 'si206', 0)
('Pavit', 'si206', 0)
('Lorena', 'si206', 0)
('Aneliese', 'si206', 0)
('Tiarnan', 'si206', 0)
('Lyra', 'si206', 0)
('Joynul', 'si206', 0)
('Zidane', 'si206', 0)
('Blythe', 'si206', 0)
('Mahnoor', 'si206', 0)
('VJay', 'si206', 0)
('Fares', 'si206', 0)
('Hayla', 'si206', 0)
('Larosa', 'si206', 0)
('Malaeka', 'si301', 1)
('Colvin', 'si301', 0)
('Jensyn', 'si301', 0)
('Hind', 'si301', 0)
('Hishaam', 'si301', 0)
('Otto', 'si301', 0)
('Haneeah', 'si301', 0)
('Alexia', 'si301', 0)
('Atapattu', 'si301', 0)
('Keely', 'si301', 0)
('Kariss', 'si301', 0)
('Marcia', 'si301', 0)
('Bryn', 'si301', 0)
('Foosiya', 'si301', 0)
('Lee', 'si301', 0)
('Jana', 'si301', 0)
('A', 'si301', 0)
('Sahbian', 'si301', 0)
('Hanna', 'si301', 0)
('Edith', 'si301', 0)
('Manwen', 'si301', 0)
('Kinga', 'si301', 0)
('Aeron', 'si301', 0)
('Deecan', 'si301', 0)
('Okeoghene', 'si310', 1)
('Kenzi', 'si310', 0)
('Kacey', 'si310', 0)
('Mungo', 'si310', 0)
('Dhavid', 'si310', 0)
('Ruo', 'si310', 0)
('Human', 'si310', 0)
('Eireyn', 'si310', 0)
('Derryn', 'si310', 0)
('Beatrice', 'si310', 0)
('Madisen', 'si310', 0)
('Giacomo', 'si310', 0)
('Chelsey', 'si310', 0)
('Natalie', 'si310', 0)
('Kajetan', 'si310', 0)
('Jeffrey', 'si310', 0)
('Momin', 'si310', 0)
('Alvern', 'si310', 0)
('Jason', 'si310', 0)
('Tarik', 'si310', 0)
('Kizhi', 'si310', 0)
('Cory', 'si310', 0)
('Cassidy', 'si310', 0)
('Mobeen', 'si310', 0)
('Zayne', 'si310', 0)
('Bodhan', 'si310', 0)
('Aleem', 'si310', 0)
('Cal', 'si310', 0)
('Jay', 'si310', 0)
('Kyrillos', 'si310', 0)
('Bully', 'si310', 0)
('Mikhail', 'si310', 0)
('Jesutobiloba', 'si310', 0)
('Savanah', 'si310', 0)
('Justine', 'si310', 0)
('Raashi', 'si310', 0)
('Marina', 'si310', 0)
('Siddharth', 'si310', 0)
('Reis', 'si310', 0)
('Sinem', 'si310', 0)
('Lucie', 'si310', 0)
('Della', 'si310', 0)
('Kai', 'si310', 0)
('Diaz', 'si334', 1)
('Sicilija', 'si334', 0)
('Sonniva', 'si334', 0)
('Makayla', 'si334', 0)
('Lekiesha', 'si334', 0)
('Elaina', 'si334', 0)
('Yago', 'si334', 0)
('Norrie', 'si334', 0)
('Will', 'si334', 0)
('Aimiee', 'si334', 0)
('Reid', 'si334', 0)
('Karrah', 'si334', 0)
('Uzair', 'si334', 0)
('Yorgos', 'si334', 0)
('Seatle', 'si334', 0)
('Kajetan', 'si334', 0)
('Soma', 'si334', 0)
('Tyson', 'si334', 0)
('Kamilia', 'si334', 0)
('Cherry', 'si334', 0)
('Eubha', 'si334', 0)
('Angel', 'si334', 0)
('Norman', 'si334', 0)
('Abdalroof', 'si334', 0)
('Rhiah', 'si334', 0)
('Laya', 'si334', 0)
('Cailean', 'si334', 0)
('Myah', 'si334', 0)
('Rhylee', 'si334', 0)
('Mehik', 'si334', 0)
('Megha', 'si334', 0)
('Jean', 'si334', 0)
('Quinn', 'si334', 0)
('Carlo', 'si334', 0)
('Jamey', 'si334', 0)
('Darren', 'si334', 0)
('TJ', 'si334', 0)
('Elise', 'si334', 0)
('Nicoll', 'si334', 0)
('Austin', 'si334', 0)
('Georgy', 'si334', 0)
('Ewan', 'si334', 0)
('Payton', 'si334', 0)
('Nerea', 'si334', 0)
('Hajjrah', 'si334', 0)
('Bryden', 'si363', 1)
('Domhnall', 'si363', 0)
('Marian', 'si363', 0)
('Miller', 'si363', 0)
('Rameen', 'si363', 0)
('Kaisha', 'si363', 0)
('Jed', 'si363', 0)
('Naisha', 'si363', 0)
('Girijan', 'si363', 0)
('Mali', 'si363', 0)
('Jem', 'si363', 0)
('Shanyse', 'si363', 0)
('Adain', 'si363', 0)
('Taqwah', 'si363', 0)
('Chintu', 'si363', 0)
('Esther', 'si363', 0)
('Zackary', 'si363', 0)
('Aniela', 'si363', 0)
('Iniobong', 'si363', 0)
('Harikrishna', 'si363', 0)
('Jaxon', 'si363', 0)
('Hamzah', 'si363', 0)
('Zachariah', 'si363', 0)
('Kaeli', 'si363', 0)
('Eljay', 'si364', 1)
('Emowyn', 'si364', 0)
('Sophi', 'si364', 0)
('Ubayd', 'si364', 0)
('Sianna', 'si364', 0)
('Chrystal', 'si364', 0)
('Ana', 'si364', 0)
('Jeemie', 'si364', 0)
('Benny', 'si364', 0)
('Elyan', 'si364', 0)
('Carmen', 'si364', 0)
('Niki', 'si364', 0)
('Dearbhail', 'si364', 0)
('McCaulley', 'si364', 0)
('Conor', 'si364', 0)
('Larosa', 'si364', 0)
('Sylvain', 'si364', 0)
('Erdehan', 'si364', 0)
('Cady', 'si364', 0)
('Esteban', 'si364', 0)
('Josiah', 'si364', 0)
('Andie', 'si364', 0)
('Barkley', 'si364', 0)
('Riya', 'si364', 0)
('Leyia', 'si364', 0)
('Leila', 'si364', 0)
('Isma', 'si364', 0)
('Tyson', 'si364', 0)
('Emelia', 'si364', 0)
('Shaw', 'si364', 0)
('Neema', 'si364', 0)
('Damiana', 'si364', 0)
('Torsten', 'si364', 0)
('Danika', 'si364', 0)
('Luca', 'si364', 0)
('Kelis', 'si364', 0)
('Nirvana', 'si364', 0)
('Kamilia', 'si364', 0)
('Schekina', 'si364', 0)
('Khansa', 'si364', 0)
('Kassia', 'si364', 0)
('Trent', 'si364', 0)
('Dylan', 'si364', 0)
('Hema', 'si364', 0)
('Leeona', 'si364', 0)
('Jaelyn', 'si364', 0)
('Daniella', 'si364', 0)
('Dante', 'si364', 0)
('Deni', 'si364', 0)
('Zac', 'si364', 0)
('Gursees', 'si364', 0)
('Samir', 'si364', 0)
('Matylda', 'si422', 1)
('Reynold', 'si422', 0)
('Sanna', 'si422', 0)
('Reegan', 'si422', 0)
('Steffie', 'si422', 0)
('Miranne', 'si422', 0)
('Alanis', 'si422', 0)
('Ellyce', 'si422', 0)
('Esha', 'si422', 0)
('Hafsah', 'si422', 0)
('Ivory', 'si422', 0)
('Madisin', 'si422', 0)
('Deryn', 'si422', 0)
('Baileigh', 'si422', 0)
('Danar', 'si422', 0)
('Annan', 'si422', 0)
('Carolyn', 'si422', 0)
('Kevyn', 'si422', 0)
('Tehzeeba', 'si422', 0)
('Lynsie', 'si422', 0)
('Alum', 'si422', 0)
('Ian', 'si422', 0)
('Colm', 'si422', 0)
('Kariss', 'si422', 0)
('Irmak', 'si422', 0)
('Ida', 'si422', 0)
('Eroni', 'si422', 0)
('Tyree', 'si422', 0)
('Maiya', 'si422', 0)
('Aibidh', 'si422', 0)
('Keirna', 'si422', 0)
('Tanvir', 'si422', 0)
('Jazz', 'si422', 0)
('Deelan', 'si422', 0)
('Timucin', 'si430', 1)
('Daud', 'si430', 0)
('Mario', 'si430', 0)
('Daniella', 'si430', 0)
('Gomana', 'si430', 0)
('Alveena', 'si430', 0)
('Alexx', 'si430', 0)
('Codi', 'si430', 0)
('Abaan', 'si430', 0)
('Christoph', 'si430', 0)
('Oluwaferanmi', 'si430', 0)
('Kori', 'si430', 0)
('Rhona', 'si430', 0)
('Cariss', 'si430', 0)
('Marybeth', 'si430', 0)
('Jaden', 'si430', 0)
('Peaches', 'si430', 0)
('Yutong', 'si430', 0)
('Clarisse', 'si430', 0)
('Amyleigh', 'si430', 0)
('Aliekber', 'si430', 0)
('Teri', 'si430', 0)
('Kenzie', 'si430', 0)
('Ireayomide', 'si430', 0)
('Hollymay', 'si430', 0)
('Kyalah', 'si430', 0)
('Garrett', 'si430', 0)
('Aaren', 'si430', 0)
('Parkash', 'si430', 0)
('Inga', 'si430', 0)
('Rhianyn', 'si430', 0)
('Mohammed', 'si430', 0)
('Honey', 'si430', 0)
('Cal', 'si430', 0)
('Rajan', 'si430', 0)
('Cherry', 'si430', 0)
('Rae', 'si430', 0)
('Kerys', 'si430', 0)
('Greg', 'si430', 0)
('Elissa', 'si430', 0)

In [6]:
# https://www.sqlite.org/lang_select.html
sqlstr = '''
SELECT User.name,Course.title, Member.role FROM 
    User JOIN Member JOIN Course 
    ON User.id = Member.user_id AND Member.course_id = Course.id
    ORDER BY User.name DESC, Course.title DESC, Member.role DESC LIMIT 2;'''

for row in cur.execute(sqlstr):
    print((row))

cur.close()

('Zidane', 'si206', 0)
('Zhong', 'si206', 1)

In [9]:
# https://www.sqlite.org/lang_select.html
sqlstr = '''
SELECT 'XYZZY' || hex(User.name || Course.title || Member.role ) AS X FROM 
    User JOIN Member JOIN Course 
    ON User.id = Member.user_id AND Member.course_id = Course.id
    ORDER BY X LIMIT 1;'''

for row in cur.execute(sqlstr):
    print((row))

cur.close()

('XYZZY416172656E736934333030',)

In [12]:
import sqlite3

conn = sqlite3.connect('emaildb.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Counts')

cur.execute('''
CREATE TABLE Counts (email TEXT, count INTEGER)''')

fname = input('Enter file name: ')
if (len(fname) < 1): fname = 'mbox-short.txt'
fh = open(fname)
for line in fh:
    if not line.startswith('From: '): continue
    pieces = line.split()
    email = pieces[1]
    cur.execute('SELECT count FROM Counts WHERE email = ? ', (email,))
    row = cur.fetchone()
    if row is None:
        cur.execute('''INSERT INTO Counts (email, count)
                VALUES (?, 1)''', (email,))
    else:
        cur.execute('UPDATE Counts SET count = count + 1 WHERE email = ?',
                    (email,))
    conn.commit()

# https://www.sqlite.org/lang_select.html
sqlstr = 'SELECT email, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

cur.close()

Enter file name: mbox.txt
zqian@umich.edu 195
mmmay@indiana.edu 161
cwen@iupui.edu 158
chmaurer@iupui.edu 111
aaronz@vt.edu 110
ian@caret.cam.ac.uk 96
jimeng@umich.edu 93
rjlowe@iupui.edu 90
dlhaines@umich.edu 84
david.horwitz@uct.ac.za 67

In [13]:
import sqlite3

conn = sqlite3.connect('orgdb.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Counts')

cur.execute('''
CREATE TABLE Counts (org TEXT, count INTEGER)''')

fname = input('Enter file name: ')
if (len(fname) < 1): fname = 'mbox-short.txt'
fh = open(fname)
for line in fh:
    if not line.startswith('From: '): continue
    pieces = line.split()
    org = pieces[1].split('@')[1]
    cur.execute('SELECT count FROM Counts WHERE org = ? ', (org,))
    row = cur.fetchone()
    if row is None:
        cur.execute('''INSERT INTO Counts (org, count)
                VALUES (?, 1)''', (org,))
    else:
        cur.execute('UPDATE Counts SET count = count + 1 WHERE org = ?',
                    (org,))
    conn.commit()

# https://www.sqlite.org/lang_select.html
sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

cur.close()

Enter file name: mbox.txt
iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17

# Assignment

In [5]:
import xml.etree.ElementTree as ET
import sqlite3

conn = sqlite3.connect('trackdb.sqlite')
cur = conn.cursor()

# Make some fresh tables using executescript()
cur.executescript('''
DROP TABLE IF EXISTS Artist;
DROP TABLE IF EXISTS Album;
DROP TABLE IF EXISTS Track;
DROP TABLE IF EXISTS Genre;

CREATE TABLE Artist (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Album (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    artist_id  INTEGER,
    title   TEXT UNIQUE
);

CREATE TABLE Track (
    id  INTEGER NOT NULL PRIMARY KEY 
        AUTOINCREMENT UNIQUE,
    title TEXT  UNIQUE,
    album_id  INTEGER,
    genre_id  INTEGER,
    len INTEGER, rating INTEGER, count INTEGER
);

CREATE TABLE Genre (
    ID  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

''')


fname = input('Enter file name: ')
if ( len(fname) < 1 ) : fname = 'Library.xml'

# <key>Track ID</key><integer>369</integer>
# <key>Name</key><string>Another One Bites The Dust</string>
# <key>Artist</key><string>Queen</string>
def lookup(d, key):
    found = False
    for child in d:
        if found : return child.text
        if child.tag == 'key' and child.text == key :
            found = True
    return None

stuff = ET.parse(fname)
all = stuff.findall('dict/dict/dict')
print('Dict count:', len(all))
for entry in all:
    if ( lookup(entry, 'Track ID') is None ) : continue

    name = lookup(entry, 'Name')
    artist = lookup(entry, 'Artist')
    album = lookup(entry, 'Album')
    count = lookup(entry, 'Play Count')
    rating = lookup(entry, 'Rating')
    length = lookup(entry, 'Total Time')
    genre = lookup(entry,'Genre')

    if name is None or artist is None or album is None : 
        continue

    print(name, artist, album, count, rating, length)

    cur.execute('''INSERT OR IGNORE INTO Artist (name) 
        VALUES ( ? )''', ( artist, ) )
    cur.execute('SELECT id FROM Artist WHERE name = ? ', (artist, ))
    artist_id = cur.fetchone()[0]
    
    cur.execute('''INSERT OR IGNORE INTO Genre (name) 
        VALUES ( ? )''', ( genre, ) )
    cur.execute('SELECT id FROM Genre WHERE name = ? ', (genre, ))
    genre_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Album (title, artist_id) 
        VALUES ( ?, ? )''', ( album, artist_id ) )
    cur.execute('SELECT id FROM Album WHERE title = ? ', (album, ))
    album_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Track
        (title, album_id, genre_id, len, rating, count) 
        VALUES ( ?, ?, ?, ?, ?, ? )''', 
        ( name, album_id, genre_id, length, rating, count ) )

    conn.commit()

Enter file name: Library.xml
Dict count: 404
Another One Bites The Dust Queen Greatest Hits 55 100 217103
Asche Zu Asche Rammstein Herzeleid 79 100 231810
Beauty School Dropout Various Grease 48 100 239960
Black Dog Led Zeppelin IV 109 100 296620
Bring The Boys Back Home Pink Floyd The Wall [Disc 2] 33 100 87118
Circles Bryan Lee Blues Is 54 60 355369
Comfortably Numb Pink Floyd The Wall [Disc 2] 36 100 384130
Crazy Little Thing Called Love Queen Greatest Hits 38 100 163631
Electric Funeral Black Sabbath Paranoid 44 100 293015
Fat Bottomed Girls Queen Greatest Hits 38 100 257515
For Those About To Rock (We Salute You) AC/DC Who Made Who 84 100 353750
Four Sticks Led Zeppelin IV 84 100 284421
Furious Angels Rob Dougan The Matrix Reloaded 54 100 330004
Gelle Bryan Lee Blues Is 45 60 199836
Going To California Led Zeppelin IV 100 100 215666
Grease Various Grease 42 100 205792
Hand of Doom Black Sabbath Paranoid 36 100 429609
Hells Bells AC/DC Who Made Who 82 100 312946
Hey You Pink Floyd The Wall [Disc 2] 23 100 282305
I Worry Bryan Lee Blues Is 33 100 341315
Iron Man Black Sabbath Paranoid 39 100 358530
Is There Anybody Out There? Pink Floyd The Wall [Disc 2] 26 100 160679
It was a Very Good Year Frank Sinatra Greatest Hits 39 100 268852
Its Your Move Bryan Lee Blues Is 40 100 245002
Jack the Stripper/Fairies Wear Boots Black Sabbath Paranoid 35 100 373995
Killer Queen Queen Greatest Hits 34 100 181368
Laichzeit Rammstein Herzeleid 41 100 262844
Let me Down Easy Bryan Lee Blues Is 43 100 331441
Misty Mountain Hop Led Zeppelin IV 88 100 278831
No Low Down Bryan Lee Blues Is 39 100 245760
Now You Are Gone America Greatest Hits 52 100 187559
Outside The Wall Pink Floyd The Wall [Disc 2] 16 100 104437
Paranoid Black Sabbath Paranoid 36 100 172930
Planet Caravan Black Sabbath Paranoid 38 100 274938
Pretty Jeanie Bryan Lee Blues Is 34 100 225175
Rammstein Rammstein Herzeleid 45 100 265090
Rat Salad Black Sabbath Paranoid 46 100 150230
Rock & Roll Led Zeppelin IV 109 100 220891
Rode Across the Desert America Greatest Hits 60 100 249887
Sandy Various Grease 36 100 155742
Shake Your Foundations AC/DC Who Made Who 85 100 233769
Sister Golden Hair America Greatest Hits 60 100 202057
Somebody To Love Queen Greatest Hits 17 100 297586
Stairway To Heaven Led Zeppelin IV 93 100 481567
Strangers in the Night Frank Sinatra Greatest Hits 42 100 158484
Summer Nights Various Grease 35 100 216973
Summer Wind Frank Sinatra Greatest Hits 46 100 177554
Thats Life Frank Sinatra Greatest Hits 43 100 189988
The Battle Of Evermore Led Zeppelin IV 110 100 351529
The Blues "Is" Bryan Lee Blues Is 45 100 252238
There it Is Bryan Lee Blues Is 35 100 395441
Think Bryan Lee Blues Is 41 100 320339
This Town Frank Sinatra Greatest Hits 44 100 185051
Tin Man America Greatest Hits 50 100 210076
Track 01 Billy Price Danger Zone 47 100 261825
Track 02 Billy Price Danger Zone 42 100 165459
Track 03 Billy Price Danger Zone 41 100 206471
Messin with the Kid The Canettes Blues Band Self Titled 23 100 226377
Track 04 Billy Price Danger Zone 37 100 257175
Stormy Monday The Canettes Blues Band Self Titled 29 100 464143
Track 05 Billy Price Danger Zone 42 100 230295
Waiting on Ice Bryan Lee Blues Is 37 100 289384
War Pigs/Luke's Wall Black Sabbath Paranoid 38 100 478197
We Are The Champions Queen Greatest Hits 24 100 181864
We Will Rock You Queen Greatest Hits 33 100 123559
When Somebody Loves You Frank Sinatra Greatest Hits 43 100 117263
When The Levee Breaks Led Zeppelin IV 83 100 427624
You are the One that I Want Various Grease 31 100 169900
You Done Me Wrong Bryan Lee Blues Is 35 100 200097
You Shook Me All Night Long AC/DC Who Made Who 92 100 210938
You're My Best Friend Queen Greatest Hits 31 100 172643
Zion Fluke The Matrix Reloaded 47 100 273528
Who Made Who AC/DC Who Made Who 110 100 207203
D.T. AC/DC Who Made Who 90 None 173714
Sink the Pink AC/DC Who Made Who 83 None 253466
Ride On AC/DC Who Made Who 75 None 351268
Chase the Ace AC/DC Who Made Who 93 None 181420
Wollt Ihr Das Bett In Flammen Sehen Rammstein Herzeleid 50 None 317387
Der Meister Rammstein Herzeleid 46 None 250801
Weisses Fleisch Rammstein Herzeleid 52 None 215902
Seemann Rammstein Herzeleid 34 None 288235
Du Riechst So Gut Rammstein Herzeleid 50 None 289332
Das Alte Leid Rammstein Herzeleid 46 None 344581
Heirate Mich Rammstein Herzeleid 39 None 284734
Herzeleid Rammstein Herzeleid 42 None 223425
Baba O'Riley The Who Who's Next 45 None 298448
Bargain The Who Who's Next 37 None 331676
Love Ain't for Keeping The Who Who's Next 24 None 130560
My Wife The Who Who's Next 17 None 213786
The Song Is Over The Who Who's Next 14 None 375797
Getting In Tune The Who Who's Next 27 None 288809
Going Mobile The Who Who's Next 28 100 221910
Behind Blue Eyes The Who Who's Next 43 None 221570
Won't Get Fooled Again The Who Who's Next 21 None 511111
Folsom Prison Blues Johnny Cash The Legend Of Johnny Cash 47 100 170004
I Walk The Line Johnny Cash The Legend Of Johnny Cash 33 100 165720
Get Rhythm Johnny Cash The Legend Of Johnny Cash 35 100 134530
Big River Johnny Cash The Legend Of Johnny Cash 51 None 152711
Guess Things Happen That Way Johnny Cash The Legend Of Johnny Cash 35 None 111386
Ring Of Fire Johnny Cash The Legend Of Johnny Cash 30 100 157100
Jackson Johnny Cash The Legend Of Johnny Cash 35 100 166530
A Boy Named Sue (live) Johnny Cash The Legend Of Johnny Cash 37 None 226063
You Raise Me Up Selah Hiding Place 9 None 302262
Hold On, I'm Coming The Canettes Blues Band On Tap & In the Can 34 100 282566
Got my Mojo Working The Canettes Blues Band On Tap & In the Can 52 100 310517
Sweet Home Chicago The Canettes Blues Band On Tap & In the Can 27 100 375849
Heavy Love The Canettes Blues Band On Tap & In the Can 28 100 253544
Cold Cold Feeling The Canettes Blues Band On Tap & In the Can 43 100 261929
Lonely Avenue The Canettes Blues Band On Tap & In the Can 24 100 292022
Good Morning Little Schoolgirl The Canettes Blues Band On Tap & In the Can 20 100 278648
Dust My Broom The Canettes Blues Band On Tap & In the Can 24 100 299311
Gimme' Some Lovin The Canettes Blues Band On Tap & In the Can 35 100 227239
Everybody Needs Somebody to Love The Canettes Blues Band On Tap & In the Can 24 100 195186
Black Magic Woman The Canettes Blues Band On Tap & In the Can 31 100 442644
Steppin' Rooster The Canettes Blues Band On Tap & In the Can 21 100 704862
Our Love is Drifting The Canettes Blues Band On Tap & In the Can 15 100 292649
Doin' 100 The Canettes Blues Band On Tap & In the Can 20 100 343980
Mother Joy Matt Ender Natural Wonders Music Sampler 1999 463 None 287294
Soldier's Lament Steve McDonald Natural Wonders Music Sampler 1999 371 None 347193
Dulaman Altan Natural Wonders Music Sampler 1999 403 None 223007
The Arrow Chris Spheeris Natural Wonders Music Sampler 1999 416 None 319869
Spanish Eyes La Esperanza Natural Wonders Music Sampler 1999 375 None 259030
Banana Bay Luis Villegas Natural Wonders Music Sampler 1999 403 None 198060
Aguas De Marco Rosa Passos Natural Wonders Music Sampler 1999 407 None 179408
Tamborea Energipsy Natural Wonders Music Sampler 1999 355 None 235389
Gone Hollie Smith Natural Wonders Music Sampler 1999 362 None 196414
The Immigrant Joanie Madden Natural Wonders Music Sampler 1999 350 None 362631
Pahrump-Big Water Cusco Natural Wonders Music Sampler 1999 342 None 191634
Seeker's Quest Cheryl Gunn Natural Wonders Music Sampler 1999 337 None 236434
Floating To Forever Dean Everson Natural Wonders Music Sampler 1999 337 None 351686
Open Road Jeff Bailey Relaxing Jazz 10 None 318563
Ruby Kaiser Chiefs Yours Truly, Angry Mob 13 None 205008
The Angry Mob Kaiser Chiefs Yours Truly, Angry Mob 41 None 288313
Heat Dies Down Kaiser Chiefs Yours Truly, Angry Mob 12 None 237061
Highroyds Kaiser Chiefs Yours Truly, Angry Mob 10 None 199575
Love's Not A Competition (But I'm Winning) Kaiser Chiefs Yours Truly, Angry Mob 11 None 197799
Thank You Very Much Kaiser Chiefs Yours Truly, Angry Mob 11 None 157753
I Can Do It Without You Kaiser Chiefs Yours Truly, Angry Mob 11 None 204199
My Kind Of Guy Kaiser Chiefs Yours Truly, Angry Mob 10 None 246595
Everything Is Average Nowadays Kaiser Chiefs Yours Truly, Angry Mob 16 None 164754
Learnt My Lesson Well Kaiser Chiefs Yours Truly, Angry Mob 9 None 325955

Try Your Best Kaiser Chiefs Yours Truly, Angry Mob 8 None 222511
Retirement Kaiser Chiefs Yours Truly, Angry Mob 10 None 237426
The Angry Mob [Live From Berlin] Kaiser Chiefs Yours Truly, Angry Mob 40 None 279066
I Like To Fight Kaiser Chiefs Yours Truly, Angry Mob 8 None 218566
From The Neck Down Kaiser Chiefs Yours Truly, Angry Mob 15 None 147226
Bomb Squad (TECH) Brent Brent's Album 4 None 208065

TypeError: 'NoneType' object is not subscriptable

In [6]:
# https://www.sqlite.org/lang_select.html
sqlstr = '''
SELECT Track.title, Artist.name, Album.title, Genre.name 
    FROM Track JOIN Genre JOIN Album JOIN Artist 
    ON Track.genre_id = Genre.ID and Track.album_id = Album.id 
        AND Album.artist_id = Artist.id
    ORDER BY Artist.name LIMIT 3'''

for row in cur.execute(sqlstr):
    print((row[0]))

cur.close()

For Those About To Rock (We Salute You)
Hells Bells
Shake Your Foundations